.logo{
    margin: 61px 98px 38px;
    display: inline-block;
    width: 334px;
    height: 79px;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: normal;
}

.logo a{
    text-decoration: none;
    color: black;
}

.logo__text--decorated{
    color: #4bcaff;
}

.top-menu{
    margin-left: 98px;
    margin-right: 99px;
    max-width: 1200px;
    box-sizing: border-box;
    align-items: center;
}

.top-menu__nav-list{

    background-color: #35444F;
    width: 1280px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.top-menu__nav-item {
    display: inline-block;
    border-left: 1px solid #ffffff;
    padding: 26px 32px 20px ;
}
.top-menu__nav-item:hover {
    background: #222F3A;
}

.top-menu__nav-item a{

    font-family:'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;

}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280 px;

    /* margin: 0 auto; */
    margin-left: 100px ;
    margin-right: 99px ;
    margin-top: 50px;
}
.left-menu{
    /* flex-grow: 1; */
}

.left-menu__nav-list{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
}

.left-menu__nav-item {
    display: block;
    padding: 27px 78px 27px 38px;
}

.left-menu__nav-item a{
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;

}
.left-menu__nav-item:hover{
    background: #DBDBDB;
}

.right-content{
    flex-grow: 1;
    margin-left: 50px ;
    max-width: 885px;

}

.content_images{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:1px solid#000000;
    width: 885px;
    height: 529px;
    margin-bottom: 37px;
}

.content__text{
    width: 885px;
    height: 120px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
}

.content__text:last-child {
    margin-top: 34px;
    margin-bottom: 54px;
}

.footer-menu {
    margin-left: 98px;
    margin-right: 99px;
    max-width: 1200px;
    box-sizing: border-box;
    align-items: center;
}


.footer-menu__nav-list{
    background-color:  rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

}

.footer-menu__item {
    display:inline-block;
    flex-wrap: nowrap;
    padding: 26px 32px 20px ;
}

.footer-menu__item a{
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #0c1927;
    font-style: normal;
    font-weight: normal;
    background:linear-gradient(currentColor, currentColor) 50% 100% no-repeat;
    background-size:0 2px;
    /*transition:background 250ms ease 0s;*/
}

.footer-menu__item:last-child {
    font-size: 20px;
    margin-left: 50px; ;
}
.footer-menu__item a:hover{
    color: #4bcaff;rgba(49, 129, 166, 1);
    background-size:100% 1px;
}
