
.background-image{
    background-image: url(../img/Фон\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.header-wrapper{
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 79px;
    padding-right: 79px;
}

.logo a{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
}

.navigation{
    display: flex;
    align-items: center;

}

.nav-text {
    font-family: "Ubuntu", sans-serif;
}

.nav-text a{
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #FFFFFF;

}

.nav-icon a{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 25px;
}

.nav-icon::after{
    content: "";
    border-left: solid 1px rgba(255, 255, 255, 0.9);
    height: 19px;
    display: inline-block;
    margin-right: 27px;
}

.form{
    margin: 54px auto;
    width: 444px;
    height: 590px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    border: solid 1px transparent ;
    position: relative;
}

.form-container{
    margin: 31px auto;
    width: 326px;
    height: 517px;
}

.form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header h2{
    display: inline-block;
    color: #434343;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}

.form-container::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: -1px;
}

.form-header a{
    display: inline-block;
    color: #3CB878;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}

.btn{
    position: relative;
}

.btn p{
    display: inline-block;
    position: relative;
    top: 16px;
    right: 22px;
}

.btn p::before {
    content: "";
    border-left: solid 1px #2B0D09;;
    height: 28px;
    display: inline-block;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    right: 81px;
    bottom: 26px;

}

.btn svg:first-child{
    width: 24px;
    height: 24px;
    align-self: flex-end;
    padding-bottom: 12px;
    padding-right: 18px;
}

.btn svg:last-child{
    align-self: flex-end;
    width: 35px;
    height: 28px;
    padding-bottom: 10px;
    padding-right: 40px;

}

.btn a{
    margin-top: 15px;
    text-decoration: none;
    width: 160px;
    height: 48px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    display: inline-flex;
    justify-content: space-around;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    background: #305DB8;
}

.btn a:last-child{
    background: #DF4A32;
}

.or-line{
    color: #848484;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin: 28px auto 16px;
    text-align: center;

}

.or-line::before,.or-line::after{
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    top: 152px;
    content: "";
    display: inline-block;
    position: absolute;
}

.or-line::before {
    left: 58px;
}

.or-line::after {
    right: 59px;
}

.input-field {
    margin-bottom: 15px;
    width: 300px;
    height: 42px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    padding-left: 20px;
    outline: 0px;
}

input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);

}

input::placeholder{
    color: #BEBEBE;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.checkbox{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    cursor: pointer;

}

.colored {
    color: rgba(60, 184, 120, 0.8);
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
}

.insert-btn {

    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    outline: 0;
    cursor: pointer;
}

.colored:hover{
    text-decoration: underline;
    color: #01813F;
}

.insert-btn:hover{
    background-color: #01813F;
}

.btn a:hover{
    background-color: #022263;
}

.btn a:last-child:hover{
    background: #AB1F09;
}

.header-wrapper:hover {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.41;
}

.header-wrapper:hover a{
    color: #01813F;
}

.form-header a:hover{
    color: #01813F;
    text-decoration: underline;
}

.header-wrapper:hover .nav-icon path{
    fill: #3CB878;;
}
