.logo{
    background-color: #313131;
    height: 70px;
}

.top-menu__nav-list {
    padding: 0px;
}

.top-menu__nav-item {
    display: inline-block;

}

.top-menu{
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    box-sizing: border-box;
    margin: 0 auto;
    align-items: center;
    height: 70px;
}

.top-menu__nav-item a {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 20px;
    text-transform: uppercase;
    margin: 35px;
}


.top-menu__nav-item :hover {
    background-color: #ddd;
    color: black;

}

.search{
    background-color: #000000;
    width: 68px;
    height: 70px;
}

.search img  {
    padding: 26px;
}

.nav-page-list{
    display: flex;
    justify-content: space-around;
    background-color:#7B4B6F;
}

.nav-page-item a{
    display: inline-block;
    text-decoration: none;
    color: #D889C4;
}

.nav-page-title{
    color: #BD94B3;
}

.the-latest-news__wrapper {
    background-image: linear-gradient(
            90deg,rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%),
    url(../img/city.jpeg);
    width: 100%;
    height: 369px;
    background-repeat: no-repeat;
    background-size:100%, cover;
    background-position: center;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.the-latest-news__title{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    display: block;

}

.button {

    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    background-color: #89CA62;
    width: 170px;
    height: 55px;
    margin-right: 20px;
    margin-top: 44px;
}

.button:last-child {
    background-color: #14B9D5;;
}

.button a {
    text-decoration: none;
    color: #FFFFFF;
    font-family:'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
}


.container{
    max-width: 1170px;
    margin: 0px auto;
    width: 100%;
}
.most-popular-posts{
    background-color: #F2F2F2;
    width: auto;
    height: 1030px;
    border-top: 1px solid transparent;
    display: none;
}

.section__title{
    color: #18B4CF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 49px;
    margin-bottom: 52px;
}

.most__contant{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    width: auto;
    height: 1030px;
}

.most__contant img {
    margin-right: 30px;
    width: 370px;
}

.content__items p {
    text-align: center;
    background-color: #FFFFFF;
    width: 370px;
    min-height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 21px;
    margin-bottom: 30px;
    margin-top: -4px;
}

.our-most-popular-clients{
    background-image: url(../img/parallax.jpeg);
    height: 588px;
    background-repeat: no-repeat;
    background-size:100%, cover;
    background-position:top;

    margin: 0px auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    min-height: 400px;
}

.our-most-popular-clients__title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 106px;
    width: 496px;
    display: block;
}

.our-most-popular-clients__title::after{
    content: "";
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    display: block;
    margin: 87px auto 106px;
}

.brands{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.brands img:not(:last-child) {
    margin-right: 58px;
}

.top-rated__pictures {
    display: grid;
    grid-template-columns: repeat(7, 271px);


}

.hot-news__blog{
    display: grid;
    grid-template-rows: 259px 877px 259px;
    grid-gap: 44px;
    margin-bottom: 77px;
    justify-items: baseline;
}

.top-resort{
    display: inline-grid;
    grid-template-columns: 483px 373px 277px;
    height: 259px;
}

.top-dscp{
    display: block;
    background-color: #F9F7F7;
    padding-top: 41px;
    padding-right: 24px;

}

.dscp__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    margin-bottom: 15px;
}

.top-dscp__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;

}

.dscp-top-mini{
    margin-left: 35px;
    background-color: #F9F7F7;
    width: 277px;
}

.dscp__title-mini{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 14px;
    color: #353A3D;

}

.hot-news-blog__description{
    display: block;
}

.resort{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    justify-items: center;

}

.bottom-resort{
    display: grid;
    grid-template-columns: 277px 856px ;
    gap: 35px;
    height: 259px;
}

.btm-box{
    width: 856px;
    display: grid;
    grid-template-columns: 483px 374px;
}

.btm-dscp{
    display: inline-block;
    background-color:#F9F7F7 ;
    padding-top: 41px;
    padding-right: 24px;
}

.dscp-btm-mini{
    background-color:#F9F7F7 ;
}

.hot-news-blog__description p {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
    width: 527px;
    height: 104px;
    background-color: #F9F7F7;
    padding: 0px 14px 3px 13px;
}

.hot-news-blog__description h2 {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    background-color: #F9F7F7;
    padding-right: 27px;

}

.ftr-line{
    background-color: #000000;
    height: 80px;
    margin: 0 auto;
}

.ftr-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
    align-items: center;

}

.ftr-text{
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    justify-self: start;

}

.ftr-logo{
    display: inline-block;
    justify-self: end;
}

#up {
    position: fixed;
    color: #fff;
    background-color: #286090;
    right: 20px;
    bottom: 20px;
    padding: 4px 10px;
    font-size: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    display: none;
    text-align: center;
}
#up:hover {
    background-color: #000;
}



a:focus {
    outline: none;
}

.slide {
    margin: 0;
    padding: 0;
}

.btn-slide {
    background: #08405C;
    text-align: center;
    width: 144px;
    height: 31px;
    padding: 10px 10px 0 0;
    margin: 0 auto;
    display: block;
    color: #fff;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.active {
    background-position: right 12px;
}

