.top-menu {
    display: flex;
    justify-content: center;
    max-width: 1280px;
}
.top-menu__list {

    text-align: center;

}

.top-menu__list li {
    list-style-type: none;
}
.top-menu__list a {
    text-decoration: none;
}

.top-menu__item {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: red;
    padding: 15px;
    height: 15px;
    top: 31.5px;
    width: 150px;
    text-decoration: none;
    padding: 0;

}
.background img {
    width: 1280px;
    height: 789px;
    background: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;


}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

div {
    text-align: center;
    font-size: 16px;
    font-weight: normal ;
    letter-spacing: 2.4px;
    line-height: 26px;
    font-style: normal;
    margin: 20px auto;
    max-width: 1280px;

}
.btn {
    border: red;
    background-color: red;
    text-transform: uppercase;
    text-align: center;
    margin: 66px auto;
    padding: 20px 0 0 0;
    color: white;
    width: 192px;
    height: 51px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;





}

.footer {
    display: flex;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    justify-content: flex-end;
    letter-spacing: 2.4px;
    align-items: center;
    font-weight: 700;
    max-width: 1280px;
    margin-right: 105px;
    margin-left: 500px;

}