/*@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");*/
/*@font-face {*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap')");*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    max-width: 1920px;
    margin: 0 auto;

}
header {
    background: url("../img/Sections background/section-1(header).jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*opacity: inherit;*/
    /*width: 100%;*/
    /*background: rgba(94, 93, 88, 0.6);*/

}
/*header:before {*/
/*    content: "";*/
/*    background: rgba(94, 93, 88, 0.6) no-repeat ;*/
/*    background-attachment: fixed;*/
/*    height: 120px;*/
/*    margin: 0;*/
/*    width: 100%;*/
/*}*/


a{
    text-decoration: none;
    /*font-family: 'Montserrat', sans-serif;*/
}
.container {
    width: 1160px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;

}

.bg {
    /*font-size:40px;*/
    /*color: rgba(255, 255, 255, 1);*/
    /*!*color: rgba(255, 255, 255, 0.6);*!*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-weight: 700;*/
    /*line-height: 0.7em;*/
}
.top-menu {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    height: 120px;
    background: rgba(94, 93, 88, 0.6);




    /*padding-top: 26px;*/
    /*opacity: inherit;*/
    /*background: rgba(94, 93, 88, 0.6);*/

}
.top-menu__logo a {
    /*color: rgba(255, 255, 255, 1);*/
}
.top-menu__logo {
    margin-left: 380px;


}
.top-menu__nav{
    /*width: 640px;*/
    margin-left: 305px;
    font-family: "Montserrat", sans-serif;

}
.top-menu__nav-list{
    display: flex;
    /*justify-content: space-between;*/
    margin-right: 21px;
}
.top-menu__nav-item a {
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 0.6);
    margin-right: 21px;
    font-weight: 700;
    transition: all 0.5s ease;
    /*font-family: "Montserrat", sans-serif;*/
}
.top-menu__nav-item a {
    position: relative;
    display: inline-block;
}
/*.top-menu__nav-item a:after {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    content: '';*/
/*    height: 2px;*/
/*    !*background: #f00;*!*/
/*    transition: all 0.5s linear;*/
/*    width: 0;*/
/*    top: 49px;*/
/*    background: #18CFAB;*/
/*    transform: matrix(1, 0, 0, -1, 0, 0);*/
/*    text-align: center;*/
/*    align-items: center;*/

/*}*/
/*.top-menu__nav-item a:hover:after {*/
/*    width: 56px;*/
/*    margin-left: -135px;*/
/*}*/
.top-menu__nav-item a{

    background: #18CFAB;
    background:linear-gradient(currentColor, currentColor) 50% 100% no-repeat;
    background-size:0 2px;
    transition:background 250ms ease 0s;
    /*text-decoration:none;*/
}

.top-menu__nav-item a:hover {
    color: rgba(24, 207, 171, 1);
    background-size:100% 1px;
}
.search_icon {
}
.title {
    text-align: center;
    color: white;
    margin-top: 265px;
    padding-bottom: 245px;
}

.main-title {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
    /*line-height: 1px;*/

}
.colored {
    color: rgba(24, 207, 171, 1);
}
.slogan {
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.sub-title {
    color: rgba(212, 212, 212, 1);
    font-size: 34px;
    font-weight: 400;
}
.btn {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    background-color: #18CFAB;
    padding: 16px 18px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border-top: 4px solid white;
    margin-top: 150px;
    margin-right: 26px;


}
.button__blue {
    background-color: #00CBF6;
}
.about-us {
    margin-top: 8px;
    padding-bottom: 91px;
}
.advantages {
    display: flex;
    align-items: center;



}
/*.advantages-option_mint {*/
/*    background-color: #18CFAB;*/
    /*height: 360px;*/
    /*width: 482px;*/
    /*text-align: center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding-top: -10px;*/

/*}*/
/*.advantages-option_black {*/
/*    background-color: #1C2A33;*/
/*    height: 360px;*/
/*    width: 482px;*/
/*    text-align: center;*/
/*}*/
/*.advantages-option_black img {*/
/*    align-items: center;*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*    padding-top: 85px;*/
/*}*/
.advantages-option {
    height: 360px;
    width: 482px;
    text-align: center;
    align-items: center;
}
.black {
    background-color: #1C2A33;
}
.mint {
    background-color: #18CFAB;
}
.white {
    color: white;
}
.color {
    color: #18CFAB;
}
.icon {


}
.subtitle {
    font-size: 20px;
    margin-top: 47px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;

}
.icon_big {
    padding-top: 105px;
}
.advantages_black:last-child {
    color: red;
}
/*.desctription::after {*/
/*    content: "";*/
/*    height: 4px;*/
/*    width: 79px;*/
/*    background-color: #18CFAB;*/
/*    display: block;*/



/*}*/
.desctription {
    /*height: 500px;*/


}
.title_desc {
    color: #4E4E4E;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;

    text-align: center;
    padding-top: 83px;
    line-height: 40px;
}
/*.desctription .title_desc::after {*/
/*    height: 4px;*/
/*    width: 79px;*/
/*    background-color: #18CFAB;*/
/*    display: block;*/
/*    align-items: center;*/


/*}*/
.lines {
    align-items: center;
    margin-top: 24px;
    height: 8px;
    /*width: 91px;*/
}

.line {
    height: 1px;
    width: 79px;
    background-color: #18CFAB;
    text-align: center;
    border: none;
    display: block;
}
.second {
    left:13px;
    top: 4px;
    display: block;

}
.filter-services {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    position: relative;
    padding-bottom: 15px;

}
.filter-services__button {
    font-family: "Montserrat", sans-serif;
    /*font-weight: 400;*/
    font-size: 16px;
    text-align: center;
    background: #F8FCFE;
    box-sizing: border-box;
    padding: 19px 35px;
    color: #717171;
    border: 1px solid #EDEFEF;

}
.filter-services__button--active {
    /*font-weight: 400;*/
    font-size: 16px;
    text-align: center;
    background: #18CFAB;
    box-sizing: border-box;
    /*padding: 19px 35px;*/
    color: #FFFFFF;
    width: 195px;
    height: 76px;
    border: none;

}
.filter-services__button:hover {
    border: 1.5px solid #18CFAB;
}
.our-services {
    margin-top: 8px;
    /*justify-content: center;*/
    align-items: center;


}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.our-services img {
    /*float: left;*/
    width: 192px;
    height: 165px;
    margin-right: 15px;
    margin-left: 18px;
}
.our-services__desc {
    /*text-align: justify;*/
    color: #777777;
    line-height: 25px;
    /*margin-left: 15px;*/
    /*width : 100%;*/
    height: 139px;

}
/*.clearfix:after {*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;}*/
/*.our-services::after {*/
/*    content: "";*/
/*    background-image: url("../img/Rectangle.jpg");*/
/*    */
/*}*/
.rectangle {
    position: absolute;
    bottom: 0;
    left: 100px;
    top: 72px;

}
/*.filter-services::after {*/
/*    content: "";*/
/*    background-image: url("../img/Rectangle.png");*/
/*    background: #EDEFEF;*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    position: absolute;*/

/*}*/
.purshace {
/*    background: linear-gradient(*/
/*            90deg,*/
/*            rgba(0, 0, 0, 0.4) 0%,*/
/*            rgba(0, 0, 0, 0.4) 100%;*/
/*),*/
    background: url("../img/Sections background/section-2.jpg");
background-repeat: no-repeat;
    background-size: cover;
    background-position: center;



}
.purshace-buy {
    padding-top: 127px;
    text-align: center;
    padding-bottom: 127px;
}
.purshace-title {
    color: #18CFAB;
    font-size: 40px;
    font-weight: 700;
    text-align: center;

    text-transform: uppercase;
}
.purshace-subtitle {
    color: #D8D8D8;
    font-size: 15px;
    text-align: center;
    margin-top: 12px;
}
.work {
    background: #E9EDEF;
}
.work-section {
    display: flex;
    margin-top: 97px;
    justify-content: center;
}
.work-section__btn {
    font-size: 14px;
    padding: 14px 15px;
    background-color: transparent;
    border: 1px solid #DADADA;
    color: #717171;
    font-family: "Montserrat", sans-serif;
}
/*.work-section__btn--active {*/
/*    font-size: 14px;*/
/*    padding: 14px 15px;*/
/*    background-color: transparent;*/
/*    border: 2px solid #18CFAB;*/
/*    color: #18CFAB;*/
/*    font-family: "Montserrat", sans-serif;*/

/*}*/
.work-section__btn:hover {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
/*.work-section__btn:active {*/
/*    border: 2px solid #18CFAB;*/
/*!*    color: #18CFAB;*!*/
/*!*}*!*/

/*.work-galery {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(4, 1fr);*/
/*    grid-template-rows: 211px ;*/
/*    margin-top: 70px;*/

/*}*/
.work-galery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
}
.work-galery__item {
    position: relative;
    overflow: hidden;
}
/*.work-galery__preview a {*/
/*    display: none;*/
/*    text-align: center;*/
/*    height: 100%;*/
/*    padding: 50px 13px;*/
/*    box-sizing: border-box;*/
/*}*/
.work-galery__preview {
    position: absolute;
    background-color: #E9EDEF;
    border-top: #18CFAB;
    width: 285px;
    height: 211px;
    bottom: -285px;
    box-sizing: border-box;
    transition: 0.7s;

}

/*.work-galery__preview img {*/
/*    width: 88px;*/
/*    height: 43px;*/
/*    display: block;*/
/*}*/
.work-galery__item img {
    width: 100%;
    height: auto;
}
.work-galery__item:hover .work-galery__preview  {
    bottom: 0;
    z-index: 100;
}
/*.work-galery__item:hover .work-galery__preview {*/
/*    display: block;*/
/*}*/
.btn--img {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    background-color: #18CFAB;
    padding: 22px 23px;
    color: white;
    /*font-family: "Montserrat", sans-serif;*/
    font-weight: 700;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 150px;
    margin-right: 26px;
    align-items: center;

}
.forma__btn {
    margin-right: 15px;
}




