@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
    font-family: "Arino";
    font-style: normal;
}

.table__main {
    border-collapse: collapse;
    text-transform: uppercase;
    width: 1192px;
    height: 736px;
    text-align: center;
    border-top: solid 20px #3a4965;
    border-left: solid 29px #3a4965;
    border-bottom: solid 32px #3a4965;
    border-right: solid 20px #3a4965;
}

td {
    border: solid 1px red;
}
/* удалить тд */

.head__main {
    height: 75px;
    padding: 0 auto;
    margin: 0 auto;
}

.head__main1 {
    font-size: 18px;
    line-height: 28px;
    color: #484848;
    margin: 0 auto;
}

.head__main2 {
    font-size: 30px;
    line-height: 28px;
    color: #484848;
    margin: 0 auto;
}

.head__standart {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    background: #89c331;
    color: #ffffff;
    width: 280px;
}

.head__ultimate {
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    background: #f04a56;
    color: #ffffff;
    width: 280px;
}

.head__premium {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    background: #20807c;
    color: #ffffff;
    width: 280px;
}

.price {
    color: #484848;
    padding: 0 auto;
    height: 89px;
}

.price_total {
    margin: 0 auto;
    height: 89px;
}

.price_money {
    position: relative;
    top: 18px;
    left: -33px;
    font-weight: bold;
    font-size: 60px;
    line-height: 28px;
}

.price_cent {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.price_permonth {
    position: relative;
    top: -55px;
    left: 34px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}
